<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <section>
          <h1>Order Confirmation</h1>
          <p>🎉 Your order has been successfully placed! Thank you for choosing us. 🎉</p>
          <a href="/" class="btn">Go Back to Menu</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Food Website. All Rights Reserved.</p>
    </footer>
</body>
</html>
